# Copyright (c) 2023 Andrew Kannan
# SPDX-License-Identifier: MIT

if BOARD_BAKENEKO60_GO

config ZMK_KEYBOARD_NAME
    default "Bakeneko60 Go"

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif # BOARD_BAKENEKO60_GO
